<h2>Sign Up Form</h2>

<div id="col-1">

<%= form_with model: @user, url: signups_path do |f| %>
<% if @user.errors.any? %>
<div>
    <% @user.errors.full_messages.each do |message| %>
   <div><%= message %></div>
   <% end %>
</div>
<% end %>

<div class="mb-3">
<%= f.label :username %>
<%= f.text_field :user_name, class: "form-control", placeholder: "MyUserName" %>
</div>
<div class="mb-3">
<%= f.label :email %>
<%= f.email_field :email, class: "form-control", placeholder: "anyemail@yahoo.com" %>
</div>
<div class="mb-3">
<%= f.label :password %>
<%= f.password_field :password, class: "form-control", placeholder: "password" %>
</div>
<div class="mb-3">
<%= f.label :password_confirmation %>
<%= f.password_field :password_confirmation, class: "form-control", placeholder: "password" %>
</div>
<%= f.submit "Sign Up" %>
<% end %>
</div>


<div id="col-2">
          <%= image_tag("tea_pics/jason-leung-sm.jpg") %>
</div>